
* {
  font-family: Helvetica;

}
button {
  background-color: rgba(0, 0, 0, 0)
}
#tabs {
  text-align: justify;
}
table{
  box-sizing: border-box;
  height: 154px;
  width: 600px;

  border-radius: 4px;
  background-color: #FFFFFF;
  text-align: justify;
}
td{
  text-align: justify;

  background-color: white;
}
tr{
  border: 1px solid black;
}
.sports {
  padding-right: 15px;
}
#root {
 text-align: justify;
 width: 100vw;
 box-sizing: border-box;
 display: flex;

}
.App{
  margin: 0 auto;
}
span {
  text: gray;
  background-color:white;
}
#row{
  border: 1px solid black;

}
th{
  color: #444444
}
#sporting tr {
  border: 1px solid

}
.current{
  color: teal;
  padding-right: 15px;
  text-decoration: underline;
}